{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Shortest path betwwen two Sfericas</title>
  <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->
<html>

<head>
  <title>Leaflet</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

</head>

<body>

  <div id="mapid" style="width: 100%; height: 98vh;"></div>
  
</body>

</html>
<!-- partial -->
  <script  src="{% static 'js/navigation.js' %}"></script>
  <script>
    function setCookie(name,value,minutes) {
      var expires = "";
      if (minutes) {
          var date = new Date();
          date.setTime(date.getTime() + (minutes*60*1000));
          expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }
    // Set csrf token
    setCookie('csrftoken', '{{ csrf_token }}');
  </script>

</body>
</html>
